html, body {
    overflow-x: hidden;
}


body, input, textarea {
    font-family: 'Roboto',sans-serif;
}

header {
    background-color: #0b531e;
    color: #ecf0f1;
}

#carousel-images img {
    width: 10%;
    height: 15em;
    object-fit: cover;
    display: block;
}

.social-links img {
    height: 2em;
    width: 1.8em;
}

.social-links li {
    display: inline;
    margin-right: 1em;
}

.social-links a {
    text-decoration: none;
}


.contacts-methods {
    display: flex;
    justify-content: space-between;
}


section h3 {
    margin-bottom: 0.8em;
}


form button:hover {
    background-color:#2b8944;
}

input:focus,
textarea:focus {
    outline-color: #de9b36;
}

.card-img-top {
    height: 21em;
    object-fit: cover;
}
